.music-container {
    background-color: aliceblue;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
}

.music-platform {
    text-align: center;
    white-space: pre-wrap;
    font-family: Dosis;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    letter-spacing: 3px;
    line-height: 1.1em;
    text-transform: uppercase;
    margin-top: 2%;
}

.music-link {
    color: black;
    padding-bottom: 0.05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(17,17,17,.3);
    transition: border-color .15s ease-out,color .15s ease-out;
    text-decoration: none;
}

    .music-link:hover {
        color: grey;
    }

.albums {
    width: 48%;
    margin: 0 auto;
    padding: 2%;
}

    .album-pic:hover {
        border: 5px solid black;
    }

.item .carousel-caption {
    color: antiquewhite;
}

@media only screen and (min-width: 1920px) and (min-height: 1080px) {
    .music-platform {
        font-size: 55px;
    }

    .albums {
        width: 50%;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
    .albums {
        width: 52%;
    }
}

@media only screen and (max-width: 768px) {
    .albums {
        width: 80%;
    }

    .music-platform {
        font-size: 8px;
    }

    .song-title {
        font-size: 15px;
    }

    .song-description {
        font-size: 10px;
    }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
    .albums {
        width: 95%
    }

    .music-platform {
        font-size: 10px;
        margin-top: 4%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 767px) and (min-height: 780px) {
    .albums {
        width: 95%;
    }

    .music-platform {
        margin-top: 3%;
    }
}

